body
{
  text-align: center;
}

h1
{font-size: 60px}

p{font-size: 20px}

em strong
{
  color: red
}

#Barbearia
{ 
  width: 100%; 
}

.principal
{
  background:#CCCCCC;
  padding:30px;
}

.Beneficios
{
  background:#FFFFFF
}

ul
{
  display:inline-block;
  vertical-align:top;
  width:20%;
  margin-right:15%;
  paddind:20px;
}

.itens
{
  text-align: left;
  font-style: italic;
  font-size: 25px;
}

.imagembeneficios
{
  width:50%
}

.titulo-principal
{
  text-align:left;
  padding-left:20px;
}
